/*Full game and header CSS*/

* {
  margin: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #404041;
  text-align: center;
}

.title {
  padding-top: 15px;
  color:  #DD1972;
  font-size: 50px;
}

.title-span {
  font-weight: 100;
}

.css-input {
  width: 30%;
}

.sub-title {
  padding-bottom: 20px;
  font-weight: 100;
  font-size: 22px;
  color: white;
}

.sub-title:before, .sub-title:after {
    content: "";
    display: inline-block;
    width: 30px;
    margin: 0px auto;
    vertical-align: middle;
    border-bottom: 2px solid;
}

.full-game {
  display: flex;
  height: 100vh;
  color: #6E6E6E;
}
.side {
  width: 50%;
}

.inputs {
  height: 40px;
  font-size: 20px;
}

/*Left side main CSS*/

.game-info-side {
  background-color: #F7F7F7;
}

.box {
  background-color: #FFFFFF;
  border: 2px solid #D0D2D3;
  margin: 10px;
  padding: 10px;
}

.range-box{
  /*height: 14vh;*/
}

.player-info-box {
  /*height: 38vh;*/
}

.user-stats-box {
  /*height: 200px;*/
}

.player-inputs, .range-inputs {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.min-max, .guesses {
  width: 100%;
}

/*Box 1*/

#update-button {
  border: none;
  background-color: gray;
  color: white;
  border-radius: 25px;
  width: 25%;
  margin-left: 10px;
  height: 40px;
  margin-top: 18px;
  font-size: inherit;
  font-weight: bold;
}

/*Box 2*/

.challenger {
  margin-top: 10px;
}

.src-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.buttons {
  width: 30%;
  border: none;
  background-color: gray;
  color: white;
  border-radius: 25px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}

.gray-out {
  background-color: #D0D2D3;
}

.name-input {
  width: 80%;
}

.names {
  width: 90%;
}

.current-min, .current-max {
  text-decoration: underline;
  font-weight: bold;
}

/*Box 3*/

.user-guess-rating {
  display: flex;
  text-align: center;
}

.player-display-box {
  width: 50%;
  padding: 10px;
}

.guess-display {
  color: #F74D98;
  font-size: 65px;
}

.player2-displays {
  border-left: 1px solid #6E6E6E;
}

/*Right side CSS*/

.winner-info-side {
  background-color: #D0D2D3;
  border-left: 2px solid #6E6E6E;
}

.full-card-info {
  border: 2px solid #6E6E6E;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
}

.card-names {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #6E6E6E;
}

.winner {
  text-align: center;
}

.hidden {
  display: none;
}
 @media only screen and (max-width: 650px) {
  .full-game {
    display: block;
    margin: 0px;
  }

  .title {
    font-size: 40px;
  }

  .sub-title {
    font-size: 18px;
  }
  .range-inputs {
    display: block;
  }
  .css-input {
    width: 100%;
  }
  #update-button {
    width: 35%;
  }
  .player-inputs {
    display: block;
  }
  .names {
    width: 100%;
  }
  .name-input {
    width:100%;
  }
  .guesses {
    width: 100%;
  }
  .src-buttons {
    margin-top: 25px;
    display: block;
  }
  .buttons {
    width: 100%;
    margin-top: 10px;
  }
  .user-guess-rating {
    display: block;
  }
  .player-display-box {
    width: 50%;
    padding: 10px;
    margin: auto;
  }
  .player2-displays {
    border-top: 1px solid #6E6E6E;
    margin: auto;
    border-left: none;
 }

  .full-card-info {
    margin-top: 0px;
 }

 .side {
  width: 100%;
 }
