/*Color references*/

/*number guesser/error hex: #DD1972
Button active/ right side: #6E6E6E
Button letters: #FFFFFF
Button inactive/left side: #D0D2D3
UserGuess: #F74D98*/


/*Full game and header CSS*/

* {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: #404041;
  text-align: center;
}

.title {
  padding-top: 15px;
  color:  #DD1972;
  font-size: 50px;
}

.title-span {
  font-weight: 100;
}

.sub-title {
  padding-bottom: 20px;
  font-weight: 100;
  font-size: 22px;
  color: white;
}

.full-game {
  display: flex;
  height: 100vh;
}
.side {
  width: 50%;
}

/*Left side main CSS*/

.game-info-side {
  background-color: #F7F7F7;
}

.box {
  background-color: #FFFFFF;
  border: 2px solid #D0D2D3;
  margin: 10px;
}

.range-box{
  height: 110px;
}

.player-info-box {
  height: 330px;
}

.user-stats-box {
  height: 200px;
}

.player-inputs, .range-inputs {
  display: flex;
}

.min-max, .guesses {
  width: 100%;

}

/*Box 1*/

/*Box 2*/

.src-buttons {
  display: flex;
}

/*Box 3*/

.user-guess-rating {
  display: flex;
  text-align: center;
}

.player-display-box {
  width: 50%;
  padding: 10px;
}

.guess-display {
  color: #F74D98;
  font-size: 65px;
}

/*Right side CSS*/

.winner-info-side {
  background-color: #D0D2D3;
  border-left: 2px solid #6E6E6E;
}

.full-card-info {
  border: 2px solid #6E6E6E;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
}


